# webhook
*secret.py

# celery
celerybeat-schedule

# pytest
.cache

# coverage
.coverage
_cov

# python
__pycache__

# packaging
*.egg-info
build/
dist/

# tox
.tox

# pyenv
.python-version

# docs
_build
