# webhook
*secret.py

# celery
celerybeat-schedule
celerybeat-schedule.db

# pytest
.cache
.pytest_cache/

# coverage
.coverage
.coverage.*
_cov

# python
__pycache__
*.pyc

# packaging
*.egg-info
build/
dist/

# tox
.tox

# pyenv
.python-version

# docs
_build

# redis
dump.rdb

# macosx
.DS_Store
