[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

celery = "*"
requests = "*"
redis = "*"
ephem = "*"


[dev-packages]

pytest = "*"
betamax = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-xdist = "*"
tox = "*"
twine = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
tox-pyenv = "*"
