{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"text\": \"\", \"attachments\": [{\"fallback\": \"sample message\", \"color\": \"#36A64F\", \"text\": \"*sample* _message_\", \"mrkdwn_in\": [\"text\"]}]}"}, "headers": {"Content-Type": "application/json"}, "method": "POST", "uri": "https://hooks.slack.com/services/X/Y/Z"}, "response": {"body": {"encoding": "ISO-8859-1", "string": "No team"}, "headers": {"Content-Type": "text/html", "X-Slack-Backend": "h"}, "status": {"code": 404, "message": "Not Found"}, "url": "https://hooks.slack.com/services/X/Y/Z"}, "recorded_at": "2017-11-20T06:38:15"}], "recorded_with": "betamax/0.8.0"}