{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"text\": \"\", \"attachments\": [{\"fallback\": \"*WARNING: HTTP 429 Too Many Requests from celery-slack.*\\n\\n*You should make adjustments to your schedule and/or restrict the set of tasks associated with celery-slack before the application becomes permanently rate-limited or disabled.*\", \"color\": \"#000000\", \"text\": \"*WARNING: HTTP 429 Too Many Requests from celery-slack.*\\n\\n*You should make adjustments to your schedule and/or restrict the set of tasks associated with celery-slack before the application becomes permanently rate-limited or disabled.*\", \"mrkdwn_in\": [\"text\"]}]}"}, "headers": {"Content-Type": "application/json"}, "method": "POST", "uri": "https://hooks.slack.com/services/X/Y/Z"}, "response": {"body": {"encoding": "ISO-8859-1", "string": "No team"}, "headers": {"Content-Type": "text/html", "X-Slack-Backend": "h"}, "status": {"code": 404, "message": "Not Found"}, "url": "https://hooks.slack.com/services/X/Y/Z"}, "recorded_at": "2017-11-20T06:38:15"}], "recorded_with": "betamax/0.8.0"}